node_modules/
dist/
data/*
!data/epp-control.sqlite
data/backups/
.tools/
.vite-*.log
.dev-*.log
*.sqlite-shm
*.sqlite-wal
proyecto-epp-github.zip
Microsoft.Services.Store.winmd
*.crdownload
eng.traineddata
tmp_ocr/
tmp_pdf_pages/
